<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>July 28 - December 15</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before we start</td>
        <td><a href="https://academic-oup-com.libaccess.lib.mcmaster.ca/book/44920/chapter/384784333">Read
		Ch 1 on your own</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>July 28</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>August 11</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>August 25</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>September 8</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>September 22</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>October 6</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>October 20</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>November 3</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>November 17</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>December 1</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>December 15</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
