<div class="row">        
  <div class="col-md-6"> <!-- left column -->
    <h3>July 28 - December 15</h3>
    <table class="table table-striped">
      <tr>
        <td><strong>Date</strong></td>
        <td><strong>Chapter</strong></td>
		<td><strong>Topic(s)</strong></td>
      </tr>
      <tr>
        <td>August 25</td>
        <td><a href="https://www.huber.embl.de/msmb/01-chap.html">Chapter 1</a>
		&amp; <a href="https://www.huber.embl.de/msmb/02-chap.html">Chapter
		2</a></td>
		<td>Introduction to models and statistical modeling</td>
      </tr>
      <tr>
        <td>September 8</td>
        <td><a href="https://www.huber.embl.de/msmb/04-chap.html">Chapter 4</a></td>
		<td>Mixture Models</td>
      </tr>
      <tr>
        <td>September 22</td>
        <td><a href="https://www.huber.embl.de/msmb/05-chap.html">Chapter 5</a></td>
        <td>Clustering</td>
      </tr>
      <tr>
        <td>October 6</td>
        <td><a href="https://www.huber.embl.de/msmb/06-chap.html">Chapter 6</a></td>
        <td>Hypothesis Testing</td>
      </tr>
      <tr>
        <td>October 13 <strong>(Note irregular date!)</strong></td>
        <td><a href="https://www.huber.embl.de/msmb/07-chap.html">Chapter 7</a></td>
        <td>Multivariate Analysis</td>
      </tr>
      <tr>
        <td>October 20</td>
        <td><a href="https://www.huber.embl.de/msmb/08-chap.html">Chapter 8</a></td>
        <td>High-Throughput Count Data &amp; GLMs</td>
      </tr>
      <tr>
        <td>November 3</td>
        <td><a href="https://www.huber.embl.de/msmb/09-chap.html">Chapter 9</a></td>
        <td>Multivariate Methods &amp; Heterogeneity</td>
      </tr>
      <tr>
        <td>November 17</td>
        <td><a href="https://www.huber.embl.de/msmb/10-chap.html">Chapter 10</a></td>
        <td>Incorporating Networks and Trees</td>
      </tr>
      <tr>
        <td>December 1</td>
        <td><a href="https://www.huber.embl.de/msmb/12-chap.html">Chapter 12</a></td>
        <td>Supervised Learning</td>
      </tr>
      <tr>
        <td>December 15</td>
        <td><a href="https://www.huber.embl.de/msmb/13-chap.html">Chapter 13</a></td>
        <td>Experimental Design &amp; Analysis</td>
      </tr>
    </table>
  </div>
</div>
